
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{% static 'allpages.css' %}">
</head>

<body>

<div class="page">

    <h1>About Bhavsar Electrician Services</h1>
    <hr>

    <div class="about">
        <h2>About Me</h2>

        <p><b>Name:</b> Bhavsar Narendra</p>

        <p><b>Experience:</b> 30+ Years</p>

        <p><b>Service Area:</b> Ahmedabad</p>

        <p>
            I provide reliable and affordable electrical services
            at your doorstep.
        </p>

        <p>
            I provide services like fan installation, light installation,
            wiring and switch repair and whole house.
        </p>
    </div>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>
    <h2 align="center">Narendra Bhavsar</h2>
</body>
</html>

