
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'allpages.css' %}">
</head>

<body>

<div class="page">

    <h1>Contact Us</h1>
    <hr>

    <div class="contact">
        <h2>Bhavsar Electrician Services</h2>

        <p><b>Contact:</b> 7000000000</p>

        <p><b>Available Time:</b> 9 AM - 7 PM</p>

        <p><b>Service Area:</b> Ahmedabad</p>

        <p>
            You can contact us for electrical installation,
            repair and maintenance services.
        </p>
    </div>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>
    <h2 align="center">Narendra Bhavsar</h2>
</body>
</html>

