
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'allpages.css' %}">
</head>

<body>

<div class="page">

    <h1>Our Electrical Services</h1>
    <hr>

    <div class="services">

        <div class="service">
            <h2>Fan Installation</h2>
            <p>Fan installation and replacement.</p>
            <p><b>Price: ₹300</b></p>
        </div>

        <div class="service">
            <h2>Light Installation</h2>
            <p>Light installation and replacement.</p>
            <p><b>Price: ₹150</b></p>
        </div>

        <div class="service">
            <h2>Wiring</h2>
            <p>Basic electrical wiring work.</p>
            <p><b>Price: ₹500</b></p>
        </div>

        <div class="service">
            <h2>Switch Repair</h2>
            <p>Switch installation and repair.</p>
            <p><b>Price: ₹100</b></p>
        </div>

        <div class="service">
            <h2>Regulator</h2>
            <p>Regulator installation and repair.</p>
            <p><b>Price: ₹250</b></p>
        </div>

    </div>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>
    <h2 align="center">Narendra Bhavsar</h2>

</body>
</html>

